.usa-button-outline-inverse{
	border: 2px solid #fff;
	color: #fff;
	border-radius: 3px;
	width: auto;
	padding: 1rem 2rem;
}
.usa-button-primary-alt{
	font-size: 1.9rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}