@import '../../vendor/18f/_scss/lib/bourbon/bourbon';
@import '../../vendor/18f/_scss/lib/neat/neat';
@import '../variables';

.facilityinfo__container{
	overflow: auto;
	max-height: $map-height;
	padding: 2rem 3rem;
	background-color: $white;
}
.facilityinfo__desc-container {
    .facilityinfo__header {
        font-weight:700;
        font-size:30px;
        line-height: 1.3em;
        color: $body-text;
    }
    .facilityinfo__desc {
        font-weight: 400;
        font-size: 17px;
        color: $body-text;
        label {
            font-weight:bold;
        }
				margin: 0;
    }    
}

.facilityinfo__graph {
    width:100%;
}

.facilityinfo__resources {
		.usa-heading-alt {
				border-bottom: 1px solid #5b616b;
		}
    ul {
        padding-top:0;
        margin:0;
    }
}