@import 'components/LineGraph.scss';
@import 'components/FacilityContainer.scss';
@import 'vendor/leaflet/leaflet.css';
@import '../vendor/18f/_scss/all.scss';
@import '../vendor/18f/_scss/lib/bourbon/bourbon';
@import '../vendor/18f/_scss/lib/neat/neat';
@import '../vendor/18f/_scss/lib/normalize';
@import 'components/Buttons';
@import './variables';


body {
    font-family: 'Roboto', sans-serif;
}

#ambient-emissions__container {

    background-color: $primary-alt-darkest;

    @include outer-container(100%);

    #ambient-emissions__graph-container {
        @include span-columns(12)

        .ambient-emissions__graph-bounding-box {
            width:50em;
        }
    }
}

footer {
    background-color: $primary-alt-darkest;

    @include outer-container(100%);
    p {
        @include span-columns(12);
    }
}

div[id^='map'] {
    min-height:$map-height;
}

.facilityList--editing{
    display:none;
}