$primary-alt: #02bfe7;
$primary-alt-dark: #00a6d2;
$primary-darker: #205493;
$primary-darkest: #112e51;
$primary-alt-darkest: #046b99;
$primary-alt-lightest: #e1f3f8;
$map-height: 400px;
$body-text: #212121;
$body-background: #0071bc;
$white: #fff;
$section-width: 1280px;