$primary-alt: #02bfe7;
$primary-alt-dark: #00a6d2;
$primary-alt-light: #9bdaf1;
$primary-darker: #205493;
$primary-darkest: #112e51;
$primary-alt-darkest: #046b99;
$primary-alt-lightest: #e1f3f8;
$map-height: 460px;
$body-text: #212121;
$primary: #0071bc;
$white: #ffffff;
$section-width: 1280px;
$intro-width: 800px;
$primary-font: Source Sans Pro;
$secondary-font: Merriweather;