@import '../../vendor/18f/_scss/lib/bourbon/bourbon';
@import '../../vendor/18f/_scss/lib/neat/neat';
@import '../variables';

#ambient-emissions__container {
    background-color: $primary-darkest;
    color: $white;
    padding: 0 3rem;
    @include outer-container(100%);

    #ambient-emissions__graph-container {
        // background-color: $primary-darkest;
        // @include outer-container(70%);
        @include span-columns(6)
        @include shift(2)

        .ambient-emissions__graph-bounding-box {
            width:100%;
        }
    }
}

.x.axis {
    color:white;
}