@import '../../vendor/18f/_scss/lib/bourbon/bourbon';
@import '../../vendor/18f/_scss/lib/neat/neat';
@import '../variables';

#ambient-emissions__container {
    background-color: $primary-darkest;
    color: $white;
    padding: 2rem 3rem 3rem;
    @include outer-container(100%);

    #ambient-emissions__graph-container {
        // background-color: $primary-darkest;
        // @include outer-container(70%);
        // @include span-columns(6);
        // @include shift(3);
        @include span-columns(8);
        @include shift(1);

        .ambient-emissions__graph-bounding-box {
            width:100%;
        }

        %ambient-emissions__axis-label {
            font-size:.8em;
        }

        .ambient-emissions__axis-label--x {
            @extend %ambient-emissions__axis-label;
            @include shift(6);
            display:none;
        }

        .ambient-emissions__axis-label--y {
            @extend %ambient-emissions__axis-label;
            display:none;
        }
    }

    .ambient-emissions__legend {
        @include span-columns(2);
				margin-top: 4rem;
        .ambient-emissions__legend-row {
            
            %ambient-emissions__legend-line {
                width:1em;
                height:0.5em;
                display:inline-block;
                margin-right:0.5em;
                border:1px solid #eee;
            }
            
            .ambient-emissions__legend-line--blue {
                @extend %ambient-emissions__legend-line;
                background-color: #02bfe7;
            }

            .ambient-emissions__legend-line--red {
                @extend %ambient-emissions__legend-line;
                background-color: #e31c3d;
            }
        }         
    }
}

.x.axis {
    color:white;
}