@import '../../vendor/18f/_scss/lib/bourbon/bourbon';
@import '../../vendor/18f/_scss/lib/neat/neat';
@import '../variables';

#data-map__container {
    
    @include outer-container(100%);
		max-height: $map-height;
		background-color: $white;
		font-family: $primary-font;
    #data-map__map {
        @include span-columns(6);
        margin-right:0;
    }

    #data-map__facility-info {
        @include span-columns(4);
        margin-right:0;
				margin-top: -48px;
    }

    #data-map__monitoring-stations {
 				@include span-columns(2.55);
				height: 460px;
				overflow: auto;
        .data-map__monitoring-stations--body {
            background-color:$primary-alt-lightest;
            border:1em solid #ffffff;
            padding: 1rem 2rem;
						min-height: 460px;
						h3{
							margin-top: 0.5rem;
						}

            .monitoring-stations__list {
                padding-top:1em;
                
                .monitoring-stations__list--top {
                    border-top:1px solid $white;
                }
				ul{
					margin: 0;
					display: block;
				}
                li {
                    display: block;
                    width: 100%;
                    padding: 0.7rem;
                    border-bottom:1px solid $white;
                    margin: 0;
                    font-weight: 600;
					cursor: pointer;
					color: $primary-darker;
                }
                li:before{
                    content: "";
                }
                li:after{
                    margin-bottom: 0;
                }
				li:hover{
					background-color: $white;
				}
            }
        }
    }
}
.tabs__container{
	.tab{
		border-right: 1px solid $primary;
		color: $white !important;
		font-family: $primary-font !important;
        font-size: 1.8rem !important;
		font-weight: 700 !important;
	}
	.tab--active {
    color:#000000 !important;
    background-color:#FFFFFF;
	}
}
