@import '../../vendor/18f/_scss/lib/bourbon/bourbon';
@import '../../vendor/18f/_scss/lib/neat/neat';
@import '../variables';


.station-list__trend {
    float:right;
    z-index: 100;
}

// .station-list__label {
//     float:left;
//     z-index: 50;
// }

%icon {
    height:25px;
    width:25px;
}

.icon__nc {
    @extend %icon;
    background: url('../../images/icons.png') 0 106px;
}

.icon__down {
    @extend %icon;
    background: url('../../images/icons.png') 0 75px;
}

.icon__up {
    @extend %icon;
    background: url('../../images/icons.png') 0 25px;
}

.monitoring-stations__list--focused {
    background-color: $white !important;
    color: $primary-darkest !important;
}

.monitoring-stations__legend {
    font-size: 1.2rem;
    display:block;
    line-height:1.2;
    padding: 1.5rem 1rem;
}