@import '../../vendor/18f/_scss/lib/bourbon/bourbon';
@import '../../vendor/18f/_scss/lib/neat/neat';
@import '../variables';

.station-list__trend {
    float:right;
}

%icon {
    height:25px;
    width:25px;
}

.icon__nc {
    @extend %icon;
    background: url('../../images/icons.png') 0 100px;
}

.icon__down {
    @extend %icon;
    background: url('../../images/icons.png') 0 75px;
}

.icon__up {
    @extend %icon;
    background: url('../../images/icons.png') 0 25px;
}